.weather-cards-container {
    backdrop-filter: blur(10px);
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(119, 183, 255, 0.4), -5px -5px 5px rgba(119, 183, 255, 0.4);
    justify-self: center;
    margin-top: 20px;
}

.tables {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    justify-self: center;
    width: max-content;
    margin-top: 20px;
    box-shadow: 5px 5px 5px rgba(119, 183, 255, 0.4), -5px -5px 5px rgba(119, 183, 255, 0.4);
}