body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 90%);
  background-image: url('../public/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  min-width: 100%;
  max-width: 100%;
}
