.temp-table table, .temp-table tr, .temp-table td {
    border: 1px solid black;
    padding: 1em;
}

.temp-table th {
    border: 3px solid green;
    padding: 1em;
}

.temp-table tbody tr:nth-child(2n + 1) {
    background-color: white;
}

.temp-table {
    width: fit-content;
}

.table-date-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-date-heading h2 {
    margin-top: 0;
    margin-bottom: 5px;
}


#left-arrow {
    background-image: url('http://localhost:8080/icons/left_arrow');
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    background-color: hsl(0, 0%, 90%);
}

#right-arrow {
    background-image: url('http://localhost:8080/icons/right_arrow');
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    background-color: hsl(0, 0%, 90%);
}

.data-table {
    height: 480px;
    overflow: auto;
}

.data-table thead {
    position: sticky;
    top: 0;
    background-color: hsl(0, 0%, 90%);
}

.data-table::-webkit-scrollbar {
    display: none;
}