.card {
    background-color: hsl(0, 0%, 95%);
    width: max-content;
    text-align: center;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), -5px -5px 5px rgba(255, 255, 255, 0.6);
    transition: transform 250ms ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}