.card {
    backdrop-filter: blur(10px);
    width: max-content;
    text-align: center;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(119, 183, 255, 0.4), -5px -5px 5px rgba(119, 183, 255, 0.4);
    transition: transform 250ms ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}