.card {
    backdrop-filter: blur(10px);
    width: max-content;
    text-align: center;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(119, 183, 255, 0.4), -5px -5px 5px rgba(119, 183, 255, 0.4);
    transition: transform 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: scale(1.1);
}

@media (max-width: 500px) {
    .card {
        flex-direction: row;
        min-width: 87%;
        padding: 10px;
    }

    .card img {
        display: none;
    }

    .card p {
        margin: auto;
    }
}